@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
*{
padding: 0;
margin: 0;
box-sizing: border-box;

}
html{
    font-size: 62.5%;
    font-family: sans-serif;
    font-family: 'Comfortaa', cursive;
}
.main-div{
    height: 100vh;
    width: 100%;
   
}
.upper{
    height: 50vh;
    width: 100%;
    background-color: rgb(252, 94, 94);
    display: grid;
    font-weight: bold;
    place-items: center;
    position: relative;
    
}
.upper p{
    position: absolute;
    font-size: 20rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.178);
    z-index: 0;
    text-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.295);


}
.upper-input-box{
   
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-size: 25rem;
    z-index: 1;
    
   outline: none;
    border: none;
    font-weight: bold;
    text-align: right;
    padding-right: 6rem;
    color: rgb(143, 43, 43);
    font-family: 'Comfortaa', cursive;
    text-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.123);

}
input{
    caret-color: white;
    
}
.lower-input-box{
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 1;
    font-size: 25rem;
    outline: none;
    border: none;
    text-align: right;
    padding-right: 6rem;
    color: rgb(71, 123, 143);
    font-family: 'Comfortaa', cursive;
    text-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.123);
   
}
.lower{
    height: 50vh;
    width: 100%;
    background-color: rgb(139, 209, 236);
    display: grid;
    place-items: center;
    position: relative;
}
.lower p{
    position: absolute;
    font-size: 20rem;
    color: rgba(255, 255, 255, 0.342);
    z-index: 0;
    text-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.123);

}

.lower-input-box:focus{

    outline: none;
  
}

.upper-input-box:focus{
    outline: none;

 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media(max-width:1144px){
    html{
        font-size: 40%;
    }
}
@media(max-width:740px){
    html{
        font-size: 25%;
    }
}
@media(max-width:480px){
    html{
        font-size: 15%;

    }
    

}


